@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    background-color: #E66717 !important;
    font-size: 12px;
}

/* Login page */

.wrapper {
    display: grid;
    width: 550px;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-top: 10%;
}

.title {
    width: 100%;
    height: fit-content;
    margin-top: -100px;
    z-index: 2;
}

.text-title {
    font-size: 120px;
    color: #444449;
    line-height: 1rem;
    padding: 10px 40px;
    margin-top: 72px;
    text-align: center;
}

.main-content {
    background-color: white;
    width: 100%;
    height: fit-content;
    font-size: 35px;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 50px;
    z-index: 1;
    box-shadow: 0 0 20px 0 rgba(245, 240, 240, 0.2), 0 5px 5px 0 rgba(252, 250, 250, 0.377);
}

form{
    margin-top: 0px;
    display: grid;
}

.form-control#frmcontrol {
    display: flex;
    justify-items: center;
    align-items: center;
    border: none;
    padding: 10px 15px;
    display: inline-block;
    margin: 10px 0px;
    font-size: 20px;
    height: fit-content;
    border: none;
}

i .fa-envelope, i .fa-lock {
    width: 18px;
    height: 18px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.form-control input {
    border: none;
    border-bottom: 5px solid gray;
    padding: 3px;
    margin-bottom: 5px;
    width: 90%;
    font-size: 20px;
}

.form-control input:focus {
    background-color: none;
    outline: none;
    border: 0;
    border-bottom: 5px solid #FA8B3B;
    padding: 3px;
    margin-bottom: 5px;
    color: black;
    width: 90%;
    font-size: 20px;
}

.btnLogin {
    margin-left: 105px;
    padding: 10px 20px;
    background-color: #E66717;
    border: 2px solid #E66717;
    border-radius: 35px;
    color: white;
    font-size: 15px;
}

.btnLogin:hover, 
.btnLogin:focus {
    background-color: #444449;
    border: 2px solid #444449;
    margin-left: 105px;
    padding: 10px 20px;
    border-radius: 35px;
    color: #E66717;
    font-size: 15px;
}

/* Admin page */

.ad-page {
    display: grid;
    position: relative;
    margin-top: 0px;
    width: 80%;
    left: 10%;
    right: 10%;
    justify-content: center;
}

.ad-text {
    font-size: 100px;
    font-weight: bolder;
    color: white;
    text-align: center;
}

.ad-page .container {
    display: grid;
    background-color: white;
    margin-top: -36px;
    width: fit-content;
    padding: 10px;
}

.tab-title {
    display: flex;
    height: 55px;
    width: 100%;
}

.tab-text {
    padding: 5px;
    margin: 5px 0px;
    color: #444449;
    font-size: 20px;
}

.fa-users {
    padding: 15px;
    color: #444449;
    font-size: 20px;
}

table#tab-users {
    position: relative;
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    border: 1px solid #232225;
}

table#tab-users tr, td {
    border: 1px solid #232225;
}

thead {
    background-color: #444449;
    color: #FA8B3B;
}

.sum-title {
    font-weight: bold;
    text-align: right;
    font-size: 12px;
}

.sum-text, th {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

table#tab-users tr:hover td {
    cursor: pointer;
}

table#tab-users tr:nth-child(even) td{
    background-color: grey;
}

p#InActive {
    display: block;
}

p#Active {
    display: none;
}

.btnOpenModal {
    text-decoration: none;
    color: #FA8B3B;
    background: none;
    border: none;
    font-weight: bold;
}

.btnOpenModal:hover, 
.btnOpenModal:focus {
    text-decoration: none;
    color: white;
    background: none;
    border: none;
    font-weight: bold;
}

.btn-add, .ad-title, .add-head {
    display: grid;
    justify-content: center;
    height: fit-content;
}

.btnAdd {
    text-decoration: none;
    color: #E66717;
    background: #232225;
    border-radius: 30px;
    padding: 15px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

.btnAdd:hover, .btnAdd:focus {
    text-decoration: none;
    color: #E66717;
    background: white;
    border-radius: 30px;
    padding: 15px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

.btnDel, .btnDetail, .btnEdit {
    background: inherit;
    border: none;
}

.btnDel:hover, .btnDel:focus,
.btnDetail:hover, .btnEdit:hover, 
.btnDetail:focus, .btnEdit:focus {
    background: inherit;
    border: none;
    color: #FA8B3B;
}

/* Modal Box */
.modal-class {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    right: 0%;
    top: 0%;
    background-color: rgba(51, 50, 50, 0.4);;
}

.container#c-modal, .container#modaldetail {
    width: fit-content;
    height: fit-content;
    background-color: #fff;
}

.container#modaldetail {
    margin-top: 10%;
}

.modal-box {
    position: fixed;
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    top: 15%;
    left: 34%;
    padding: 10px;
}

div .modal-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    border-bottom: 5px solid #444449;
}

#modal-select, .row {
    display: flex;
}

.row#row {
    width: 100%;
}

.modal-text {
    display: inline-block;
    font-size: 30px;
    padding: 20px 0px;
    font-weight: bolder;
    color: #E66717;
    text-align: center;
    height: fit-content;
}

.modal-close {
    font-size: 35px;
    padding: 20px 0px;
    text-align: right;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.modal-content {
    display: inline-block;
    justify-content: center;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    height: fit-content;
    font-size: 12px;
}

.modal-frm-control {
    display: flex;
    width: 50%;
    margin: 10px 0px;
}

.col-md-8#modal-select {
    display: flex;
    margin: 10px 0px;
}


.modal-frm-control input {
    border: none;
    background: none;
    border-bottom: 2px solid gray;
    padding: 3px;
    margin: 0px 5px 5px 5px;
    width: 100%;
    height: 80%;
    font-size: 12px;
}

.modal-frm-control input:hover,
.modal-frm-control input:focus {
    border: none;
    background: none;
    border-bottom: 2px solid #FA8B3B;
    padding: 3px;
    margin: 0px 5px 5px 5px;
    width: 100%;
    height: 80%;
    font-size: 12px;
    outline: none;
}


.modal-btn-control {
    display: flex;
    justify-content: end;
    margin: 10px 0px;
    width: 100%;
}

.modal-frm-text {
    width: 100px;
    padding: 10px;
    margin-right: 0px;
    font-weight: bold;
    font-size: 12px;
}

.s-modal-select {
    display: grid;
}

select#role, select#status,
select#firstphone, select#country,
select#city, select#district,
select#ward {
    margin: 0px 5px;
    margin-top: 5px;
    color: black;
    border: 2px solid gray;
    font-size: 12px;
    width: 120px;
    height: 35px;
    text-align: center;
}

select#role:hover, select#status:hover,
select#firstphone:hover, select#country:hover,
select#city:hover, select#district:hover,
select#ward:hover, select#role:focus, select#status:focus,
select#firstphone:focus, select#country:focus,
select#city:focus, select#district:focus,
select#ward:focus {
    margin: 0px 5px;
    margin-top: 5px;
    color: black;
    border: none;
    border: 2px solid #FA8B3B;
    font-size: 12px;
    width: 120px;
    height: 35px;
    outline: none;
    text-align: center;
}

textarea#note {
    width: 100%;
    height: 50px;
    font-size: 12px;
    outline: none;
}

textarea#note:focus {
    width: 100%;
    height: 50px;
    font-size: 12px;
    outline: none;
    border: 1px solid #FA8B3B;
}

.mess-error {
    font-size: 12px;
    margin-top: 0px;
    color: crimson;
    display: flex;
    justify-content: start;
}

#mess-error1, #mess-error2, #mess-error3,
#mess-error4, #mess-error5, #mess-error6,
#mess-error7, #mess-error8, #mess-error9, 
#mess-error10 {
    display: none;
}

button#submitAdd {
    padding: 5px 10px;
    background-color: #E66717;
    border: 2px solid #E66717;
    border-radius: 30px;
    color: white;
    font-size: 12px;
    margin: 0px 5px;
    width: 65px;
    height: 30px;
}

button#submitAdd:hover, 
button#submitAdd:focus {
    padding: 5px 10px;
    background-color: #444449;
    border: 2px solid #444449;
    border-radius: 30px;
    color: #E66717;
    font-size: 12px;
    margin: 0px 5px;
    width: 65px;
    height: 30px;
}

button#cancelAdd {
    padding: 5px 10px;
    background-color: white;
    border: 2px solid rgb(35, 34, 37);
    border-radius: 30px;
    color: rgb(35, 34, 37);
    font-size: 12px;
    margin: 0px 5px;
    width: 65px;
    height: 30px;
}

button#cancelAdd:hover, 
button#cancelAdd:focus {
    padding: 5px 10px;
    background-color: #232225;
    border: 2px solid #232225;
    border-radius: 30px;
    color: #E66717;
    font-size: 12px;
    margin: 0px 5px;
    width: 65px;
    height: 30px;
}

/* Modal Detail */
.row#rowdetail .col-md-4, .col-md-8 {
    padding: 15px;
    display: grid;
    justify-content: center;
}

.img-user, img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 22px 55px;
}

.u-name {
    margin: 10px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.col-md-8 .row input, 
.col-md-8 .row input:hover,
.col-md-8 .row input:focus  {
    border: none;
    background: none;
    border-bottom: 2px solid gray;
    padding: 3px;
    margin: 0px 5px 5px 5px;
    /* width: 100%;
    height: 80%; */
    font-size: 14px;
    text-align: start;
    color: #E66717;
    outline: none;
}

